@media screen and (max-width:560px){
header .container{
   margin: 20px;
}
header .logo{
    height: 20px;
    margin-right: 20px;
}

.butao{
    font-size: 10px;

}
.container{
    margin-left: 20px;
}
.profile img{
    height: 10px;
    transition: .5s ease all;
}
.profile i{
    font-size: 10px;
    transition: .5s ease all;
}

}
@media screen and (max-width:660px) {
    header a{
        font-size: 10px;
        margin-right: 10px;
        transition: 1s ease all;
    }
}